<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="io.github.rin.xiaoaivolumesync" android:versionCode="2" android:versionName="1.1.0">
    <uses-sdk android:minSdkVersion="31" android:targetSdkVersion="35" />
    <permission android:name="io.github.rin.xiaoaivolumesync.permission.STATUS" android:protectionLevel="signature" />
    <uses-permission android:name="io.github.rin.xiaoaivolumesync.permission.STATUS" />
    <queries><package android:name="com.miui.voiceassist" /></queries>
    <application android:label="小爱音量跟随" android:icon="@drawable/ic_launcher" android:theme="@android:style/Theme.Material.Light.NoActionBar" android:allowBackup="false" android:supportsRtl="true">
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription" android:value="让小爱音量跟随媒体音量，保留助手音频流，防止自动抬高音量。" />
        <meta-data android:name="xposedminversion" android:value="82" />
        <meta-data android:name="xposedscope" android:resource="@array/xposed_scope" />
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" /></intent-filter>
        </activity>
        <provider android:name=".StatusProvider" android:authorities="io.github.rin.xiaoaivolumesync.status" android:exported="true" />
    </application>
</manifest>
